@use "mixin" as m;
/*paint style*/ 
:root{
    --bg-light: #ffffff;
    --bg-primary: #f8f9f8;
    --bg-primary-t1: #ffffff00;
    --bg-primary-t10: #ffffff1a;
    --bg-primary-hover: #eff1ef;
    --bg-secondary: #eff1ef;
    --bg-secondary-dark: #e7ebe8;
    --bg-tertiary: #2b372e;
    --bg-tertiary-t20: #1a271e33;
    --bg-tertiary-t20-hover: #d0d6d2;
    --bg-accent: #245437;
    --bg-accent-hover: #4c7c5f;
    --bg-accent-t10: #2454371a;
    --bg-accent-t10-hover: #2454374d;
    --bg-accent-2: #dae1dd;

    --text-primary: #1a271e;
    --text-primary-t35: #1a271e4d;
    --text-secondary: #ffffff;
    --text-secondary-t50: #ffffff80;
    --text-secondary-t70: #ffffffb3;
    --text-tertiary: #505451;
    --text-accent: #1d6439;
    --text-accent-2: #72ce75;
    --text-visited: #b649e8;

    --icon-primary: #303230;
    --icon-secondary: #ffffff;
    --icon-secondary-t50: #ffffff80;
    --icon-tertiary: #748578;
    --icon-tertiary-t30: #7485794d;
    --icon-accent: #207140;
    --icon-accent-2: #72ce75;

    --stroke-primary: #f7f8fd;
    --stroke-primary-dark: #dedee3;
    --stroke-secondary: #ffffff;
    --stroke-secondary-t10: #ffffff1a;
    --stroke-tertiary: #1a271e;
    --stroke-tertiary-t5: #3032301a;
    --stroke-accent: #245437;
    
    --system-error-dark: #cc4949;
    --system-error-light: #f16363;
    --system-error-dark-t30: #cc49494d;
}
  
:root {
    --footer-bg: var(--bg-tertiary);
    --header-bg: #F5F5F5;
    --modal-bg: #2F2F2F;
    --system-alert: #CB2D2D;
    --marker: #CB2D2D;

    // Number variables

    --time: 0.5s;
    --br-xs: 8px;
    --br-s: 10px;

    --section-offset: 160px;

    --title-offset-m: 60px;

    --header-height: 104px;
    --header-main-gap: 80px;
    --header-index: 2;

    --container-padding: 80px;

    // Шрифты

    --font-title: 'Open Sans', sans-serif;
    --font: 'Inter', sans-serif;
}

@include m.laptop {
    :root {
        --container-padding: 40px;
    }
}

@include m.tablet {
    :root {
        --section-offset: 80px;
        --title-offset-m: 30px;
        --container-padding: 20px;
    }
}

@include m.tablet-s {
    :root {
      --header-height: 80px;
      --header-main-gap: 40px;
    }
}

@include m.mobile {
    :root {
       
    }
}