@use "mixin" as m;

:root {

    // button primary
    --btn-prim-bg: #CB2D2D;
    --btn-prim-text: #FFFFFF;
    --btn-prim-border: #CB2D2D;
    --btn-prim-icon: #FFFFFF;

    --btn-prim-bg-hover: #A30505;
    --btn-prim-text-hover: #FFFFFF;
    --btn-prim-border-hover: #A30505;
    --btn-prim-icon-hover: #FFFFFF; 

    --btn-prim-bg-focus: #CB2D2D;
    --btn-prim-text-focus: #FFFFFF;
    --btn-prim-border-focus: #CB2D2D;
    --btn-prim-icon-focus: #FFFFFF; 

    --btn-prim-bg-disabled: #EFEFEF;
    --btn-prim-text-disabled: #818181;
    --btn-prim-border-disabled: #EFEFEF;
    --btn-prim-icon-disabled: #818181;  

    // button secondary
    --btn-sec-bg: #EFEFEF;
    --btn-sec-text: #2F2F2F;
    --btn-sec-border: #EFEFEF;
    --btn-sec-icon: #2F2F2F;

    --btn-sec-bg-hover: #CB2D2D;
    --btn-sec-text-hover: #FFFFFF;
    --btn-sec-border-hover: #CB2D2D;
    --btn-sec-icon-hover: #FFFFFF; 

    --btn-sec-bg-focus: #CB2D2D;
    --btn-sec-text-focus: #FFFFFF;
    --btn-sec-border-focus: #CB2D2D;
    --btn-sec-icon-focus: #FFFFFF; 

    --btn-sec-bg-disabled: #EFEFEF;
    --btn-sec-text-disabled: #818181;
    --btn-sec-border-disabled: #EFEFEF;
    --btn-sec-icon-disabled: #818181;     

    // button tertiary
    --btn-tert-bg: transparent;
    --btn-tert-text: #433C3C;
    --btn-tert-border: #E0E0E0;
    --btn-tert-icon: #433C3C;

    --btn-tert-bg-hover: transparent;
    --btn-tert-text-hover: #433C3C;
    --btn-tert-border-hover: #CB2D2D;
    --btn-tert-icon-hover: #433C3C; 

    --btn-tert-bg-focus: transparent;
    --btn-tert-text-focus: #433C3C;
    --btn-tert-border-focus: #CB2D2D;
    --btn-tert-icon-focus: #433C3C; 

    --btn-tert-bg-disabled: transparent;
    --btn-tert-text-disabled: #818181;
    --btn-tert-border-disabled: #EFEFEF;
    --btn-tert-icon-disabled: #818181;  


    --footer-bg: #FFFFFF;
    --header-bg: #F5F5F5;

    // Common colors
    --text-primary: #433C3C;
    --text-primary-additional: #303030;
    --text-default: #818181;
    --text-default-secondary: #666666;
    --text-default-additional: #B4B4B4;
    --text-contrast: #FFFFFF;
    --text-accent: #CB2D2D;
    --text-footer: #CBCBCB;
    
    --bg-primary: #FFFFFF;
    --bg-secondary: #EFEFEF;
    --bg-modal: rgba(30, 30, 30, 0.8);

    --btn-primary: #CB2D2D;
    --btn-primary-hover: #A30505;
    --btn-secondary: #EFEFEF;
    --btn-secondary-hover: #CB2D2D;
    --btn-tertiary: #FFFFFF;
    --btn-disabled: #E0E0E0;
    --btn-dark: rgba(208, 208, 208, 0.1);

    --stroke-primary: #E0E0E0;
    --stroke-secondary: #A1A1A1;
    --stroke-tertiary: #EDEDED;
    --stroke-contrast: #CB2D2D;

    --icons-white: #FFFFFF;;
    --icons-black: #433C3C;
    --icons-red: #CB2D2D;
    --icons-grey: #B4B4B4;

    --system-alert: #CB2D2D;

    --marker: #CB2D2D;

    // Number variables

    --time: 0.5s;
    --br-xs: 8px;
    --br-s: 10px;

    --section-offset: 160px;

    --title-offset-m: 60px;

    --header-height: 104px;
    --header-main-gap: 80px;
    --header-index: 2;

    --container-padding: 80px;

    // Шрифты

    --font-title: 'Mariupol', sans-serif;
    --font: 'Raleway', sans-serif;
}

@include m.laptop {
    :root {
        --container-padding: 40px;
    }
}

@include m.tablet {
    :root {
        --section-offset: 80px;
        --title-offset-m: 30px;
        --container-padding: 20px;
    }
}

@include m.tablet-s {
    :root {
      --header-height: 80px;
      --header-main-gap: 40px;
    }
}

@include m.mobile {
    :root {
       
    }
}