@use "../utils/mixin" as m;

.text-m {
    font-size: 17px;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 139.9999976158142%;
  }
  .text-m-medium {
    font-size: 17px;
    font-family: 'Inter';
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 139.9999976158142%;
  }
  .text-m-bold {
    font-size: 17px;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 139.9999976158142%;
  }
  .text-s {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 125%;
  }
  .text-s-medium {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 125%;
  }

@include m.mobile{
    .text-m {
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 139.9999976158142%;
    }
    .text-m-bold {
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 700;
        letter-spacing: 0em;
        line-height: 139.9999976158142%;
    }
    .text-m-medium {
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 500;
        letter-spacing: 0em;
        line-height: 139.9999976158142%;
    }
    .text-s {
        font-size: 14px;
        font-family: 'Inter';
        font-weight: 400;
        letter-spacing: 0.01em;
        line-height: 125%;
    }
}