@use '../utils/mixin' as m;

/*text style*/ 
.title-h1-accent {
    font-size: 72px;
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 110.00000238418579%;
  }
  .title-h1 {
    font-size: 44px;
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 110.00000238418579%;
  }
  .title-h2 {
    font-size: 36px;
    font-family: 'Inter';
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 120.00000476837158%;
  }
  .title-h3 {
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 125%;
  }
  .title-h4 {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 139.9999976158142%;
  }
  .title-h4-bold {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: 0.005em;
    line-height: 139.9999976158142%;
  }
  .title-accent-l {
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 120.00000476837158%;
  }


@include m.laptop{
    .title-h1-accent {
        font-size: 52px;
      }
      .title-h1 {
        font-size: 38px;
      }
      .title-h2 {
        font-size: 30px;
      }
      .title-h3 {
        font-size: 22px;
      }
      .title-h4 {
        font-size: 20px;
      }
      .title-h4-bold {
        font-size: 20px;
      }
      .title-accent-l {
        font-size: 26px;
      }
}

@include m.mobile{
    .title-h1-accent {
        font-size: 34px;
    }
    .title-h1 {
        font-size: 28px;
        line-height: 120.00000476837158%;
    }
    .title-h2 {
        font-size: 24px;
        line-height: 129.99999523162842%;
    }
    .title-h3 {
        font-size: 20px;
        line-height: 125%;
    }
    .title-h4 {
        font-size: 18px;
        line-height: 139.9999976158142%;
    }
    .title-h4-bold {
        font-size: 18px;
        line-height: 139.9999976158142%;
    }
    .title-accent-l {
        font-size: 24px;
        line-height: 120.00000476837158%;
    }
}
 
//   .text-nav {
//     font-size: 16px;
//     font-family: 'Inter';
//     font-weight: 400;
//     letter-spacing: 0.01em;
//     line-height: 110.00000238418579%;
//   }
//   .text-nav-semibold {
//     font-size: 16px;
//     font-family: 'Inter';
//     font-weight: 700;
//     letter-spacing: 0.01em;
//     line-height: 110.00000238418579%;
//   }
//   .title-button {
//     font-size: 15px;
//     font-family: 'Inter';
//     font-weight: 500;
//     letter-spacing: 0em;
//   }
//   .title-table-header {
//     font-size: 14px;
//     font-family: 'Inter';
//     font-weight: 400;
//     letter-spacing: 0.01em;
//     line-height: 125%;
//     text-transform: uppercase;
//   }
//   .mobile-nav {
//     font-size: 15px;
//     font-family: 'Inter';
//     font-weight: 400;
//     letter-spacing: 0.01em;
//     line-height: 110.00000238418579%;
//   }
//   .mobile-nav-semibold {
//     font-size: 15px;
//     font-family: 'Inter';
//     font-weight: 700;
//     letter-spacing: 0.01em;
//     line-height: 110.00000238418579%;
//   }
//   .mobile-button {
//     font-size: 15px;
//     font-family: 'Inter';
//     font-weight: 500;
//     letter-spacing: 0em;
//   }
//   .mobile-table-header {
//     font-size: 12px;
//     font-family: 'Inter';
//     font-weight: 400;
//     letter-spacing: 0.01em;
//     line-height: 125%;
//     text-transform: uppercase;
//   }
  
  